body {
  font-family: Helvetica;
  text-align: center;
}

.design {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

.process p {
  font-size: 14px;
}

.footer {
  text-align: left;
  background-color: dimgray;
  color: white;
}

#copyright {
  font-size: 11px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

a {
  color: white;
  font-size: 18px;
}
